* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh; 
    max-width: 100vw;
    text-transform: uppercase;
    color: #472417;
    font-family: 'Montserrat', sans-serif;
}

a:link , a:visited {
    color: #472417;
    text-decoration: none;
}

h1 {
    font-size: 3em;
}

h2{
    font-size: 2em;
}



/* page 1 */


.original, .invert, .glow {
    text-align: center;
    /* background-color: blue; */
    margin: auto;
    height: 100vh;
    align-content: center;
    max-width: 100vw;
    position: relative;
}

h1 {
    position: relative;
}

.spacing {
    animation: spacing;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    /* animation-play-state: running; */
}

#still, #gather, #sing {
    position: absolute;
}

#gather {
    left: 5%;
}

#sing {
    right: 5%;
}





/* page 2  */

.invert {
    background-color: #472417;
    color: white;
    position: relative;
}

#firelight {
    color: white;

    animation: glowText;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-play-state: running;
    
}

.together {
    display: inline-block;
    /* position: absolute;
    left: 30%; */
    /* animation: uppies;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite; */
}

#tOne,
#oOne,
#gOne,
#eOne,
#tTwo,
#hOne,
#eTwo,
#rOne {
    display: inline-block;
    position: relative;
    

    animation: uppies;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}

#tOne {
    animation-delay: 1s;
}
#oOne {
    animation-delay: 2s;
}
#gOne {
    animation-delay: 3s;
}
#eOne {
    animation-delay: 4s;
}
#tTwo {
    animation-delay: 5s;
}
#hOne {
    animation-delay: 6s;
}
#eTwo {
    animation-delay: 7s;
}
#rOne {
    animation-delay: 8s;
}



/* page 3 */

.glow {
    /* background-image: radial-gradient(#c9b3ab, #472417); */
    animation: glowBG;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-play-state:running;
}

#glowing {
    animation: growing;
    animation-duration: 2s;
    animation-direction:alternate-reverse;
    animation-iteration-count: infinite;
}





/* page 4 */

#sing2 {
    left: 5%;
    position: absolute;
}

#moonlight {
    position: absolute;
    right: 5%;
    color: white;
    z-index: 1;
    font-family: 'Nanum Myeongjo', serif;
}

.moon {
    position: absolute;
    animation: moon;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}




/* page 5 */



.stars {
    position: relative;
    display: inline-block;
    /* width: 100%;
    height: 100vh; */
    background-color: red;
}

#star1,
#star2,
#star3,
#star4,
#star5,
#star6,
#star7 {
    position: absolute;
    display: inline-block;
    /* background-color: blue; */
}

#star1 {
    color: white;
}

#star2 {
    bottom: 50%;
    left:0;
}

#star3 {
    right:0;
}

#star4 {
    left:0;
}

#star5 {
    right:0;
}

#star6 {
    left:0;
}

#star7 {
    right:0;
}













/* animations */



@keyframes moon {
    from {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color:#472417;
    right: 0;
    top: 250px;
    }
    to {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color:#472417;
    right: 0;
    top: 200px;
    }
}

@keyframes spacing {
    from {
        padding: 20px;
    }
    to {
        padding: 0;
    }
}

@keyframes growing {
    from {
        font-size: 1em;
        font-weight: 300;
        opacity: 0;
    }
    to {
        font-size: 5em;
        font-weight: 900;
        opacity: 100;
    }
}

@keyframes glowText {
    from {
        text-shadow: none;
    }
    to {
        text-shadow: 0 0 10px white;
    }
}

@keyframes uppies { 
    from {
        transform: translateY(-20px)
    }
    to {
        transform: translateY(0px)
    }
}

@keyframes glowBG {
    from {
        background-color:#472417;
    }
    to {
        background-color: white;
    }
}